<ion-view view-title="A propos">
<ion-view view-title="A propos">
  <ion-content>
    <h3>Mes services</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quasi quibusdam ipsa similique, adipisci quisquam vel odio quaerat doloribus voluptatibus dolorum provident assumenda, nesciunt numquam culpa? Commodi quibusdam, veritatis eius.</p>

	<h3>Nous contacter</h3>
	<ul class="list">
		<li class="item">Ecrivons nous à <a href="email://vincent.dagoury@hsbc.fr">cette adresse</a></li>.
		<li class="item">Laissez nous commentaire</li>.
	</ul>


  <h3>N'oubliez pas !</h3>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam suscipit veritatis quisquam iste dicta vero tempora voluptas aut, consequatur neque, numquam doloremque dolores labore voluptatum voluptatibus delectus quaerat veniam iusto!</p>
  

  </ion-content>

</ion-view>
