<ion-view view-title="Support">
    <ion-content>
        <h3>Besoin d'aide ? </h3>
        <ion-list>
            <ion-item>Ecrivez nous à <a href="email://vincent.dagoury@hsbc.fr">cette adresse</a></ion-item>
            <ion-item>Laissez nous commentaire</ion-item>
        </ion-list>
	

		  <ul>
		    <li>Device:{{device}}</li>
		    <li>Cordova v:{{cordova}}</li>
		    <li>Model:{{model}}</li>
		    <li>Platform:{{platform}}</li>
		    <li>UUID:{{uuid}}</li>
		    <li>Version:{{version}}</li>
		  </ul>


    </ion-content>
</ion-view>
