<ion-view view-title="Géolocalisation">
    <ion-content>
        
        <h4>Une agence HSBC par ici ?
            <img src="img/hsbc_sm_010.png" width="50" style="float:right" alt="HSBC"></img>
        </h4>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="text" id="autocomplete" size="100%" ng-model="vm.city">                   
                </label>
                <a class="button button-icon icon ion-location" ng-click="vm.locate()"></a>
            </div>            
        </div>
        <!--div class="button-bar"-->
            <!--a class="button icon-right ion-search button-positive" ng-click="search()">Rechercher</a-->
            
        <!--/div-->

        <div id="map" data-tap-disabled="true"></div>

    </ion-content>
</ion-view>
